In [115]:
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn import svm

In [116]:
df = pd.read_csv('breast-cancer-wisconsin.data')

In [117]:
df

     1000025  5   1  1.1  1.2  2 1.3   3  1.4  1.5  2.1
0    1002945  5   4    4    5  7  10   3    2    1    2
1    1015425  3   1    1    1  2   2   3    1    1    2
2    1016277  6   8    8    1  3   4   3    7    1    2
3    1017023  4   1    1    3  2   1   3    1    1    2
4    1017122  8  10   10    8  7  10   9    7    1    4
..       ... ..  ..  ...  ... ..  ..  ..  ...  ...  ...
693   776715  3   1    1    1  3   2   1    1    1    2
694   841769  2   1    1    1  2   1   1    1    1    2
695   888820  5  10   10    3  7   3   8   10    2    4
696   897471  4   8    6    4  3   4  10    6    1    4
697   897471  4   8    8    5  4   5  10    4    1    4

[698 rows x 11 columns]

In [118]:
df.replace('?', -9999, inplace = True)           ## replacing some ? values with -9999 so sigmoid gives 0

In [119]:
df.drop(['1000025'], 1, inplace = True)          ## dropped column 1 as huge numbers depriciating accuracy (decided after several iterations)

In [120]:
X = np.array(df.drop(['2.1'],1))    ##attributes
y = np.array(df['2.1'])           ## labels

In [121]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [122]:
clf = svm.SVC(gamma = 'auto', C = 1, kernel = "rbf")
clf.fit(X_train, y_train)

acc = clf.score(X_train, y_train)      ## accuracy on training data
print(acc)

0.996415770609319

In [123]:
accuracy = clf.score(X_test, y_test)
accuracy = accuracy*100                    ## accuracy on test data.
print(accuracy)

97.85714285714285

In [ ]:
## the accuracy in test and train data differ by 2% and can be considered nominal error.
## the model can be concluded to be overfitting as it has performed well on test data too